<table class="table table-striped table-borderd">
  <thead>
    <th> <%= Sample.human_attribute_name 'element' %></th>
    <th> <%= Sample.human_attribute_name 'quantity' %></th>
  </thead>
  <tbody>
    <% samples.each do |sample| %>
      <tr>
        <td> <%= sample.element %> </td>
        <td> <%= sample.quantity %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
